<%- include ("partials/header") %>
<div class="ui main text container segment">
	<div class="ui huge header"><%= meme.name %></div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image Medium" src="<%= meme.image %>">
			<div class="content">
				<span><%= meme.created.toDateString() %></span>
			</div>	 
			<div class="description">
				<p><%- meme.caption %></p>
			</div>
			<a class="ui orange basic button" href="/memes/<%= meme._id %>/edit">Edit</a>
			<form id="delete" action="/memes/<%= meme._id %>?_method=DELETE" method="POST">
			<button class="ui red basic button">Delete</button>
			</form>
		</div>
	</div>
</div>
<%- include("partials/footer") %>